body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 150px;
}

button {
    padding: 12px 20px;
    background: #38bdf8;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

